global
    stats socket /var/run/haproxy.sock mode 600 expose-fd listeners level admin
    stats timeout 2m

frontend http_frontend
    bind *:80
    mode tcp
    option tcplog
    option forwardfor

    acl is-blocked-ip src{{range getvs "/blacklist/*"}} {{.}}{{else}} --{{end}}
    tcp-request connection reject if is-blocked-ip

    default_backend http_backend

frontend https_frontend
    bind *:443
    mode tcp
    option tcplog
    option forwardfor

    acl is-blocked-ip src{{range getvs "/blacklist/*"}} {{.}}{{else}} --{{end}}
    tcp-request connection reject if is-blocked-ip

    default_backend https_backend

backend http_backend
    mode tcp
    balance roundrobin
    server web01 "${BACKEND_SERVER}:80" send-proxy

backend https_backend
    mode tcp
    balance roundrobin
    server web01 "${BACKEND_SERVER}:443" send-proxy
